<div class="login-container">
    <div class="logo-container">
        <h1>Health</h1>
        <span>Estatísticas de nutrição.</span>
    </div>
    <div class="card-container">
        <p-card class="card">
            <span class="p-float-label">
                <input pInputText type="text" id="fullName" class="login-input">
                <label for="fullName">Nome</label>
            </span>
            <button pButton pRipple class="login-button" type="button" label="Sign In" icon="pi pi-sign-in"></button>
            <button pButton pRipple class="create-button" type="button" label="Create New Account"
                icon="pi pi-plus"></button>
        </p-card>
    </div>
</div>