.form-container {
  width: 500px !important;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.input-container {
    align-items: baseline;
}
